<a href="https://colab.research.google.com/github/MannyMols/Hadoop/blob/main/BigDatacw2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=6201301019f90724a0f0f5eed29da3e59baa440961a5ceecba01f542b9cbc980
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [4]:
import os
os.environ['COLAB_PYTHON_WORKERS'] = '1'
!pip install findspark
!pip install pyspark
import findspark
findspark.init()
!pip install pyspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [44]:
from pyspark.sql import SparkSession
import pandas as pd
# Create a Spark session
spark = SparkSession.builder \
        .appName("csv-analysis") \
        .getOrCreate()

# Read the CSV file into a DataFrame
df1 = spark.read.csv("IEA_Global_EV_Data2023.csv", header=True)

# Save the DataFrame to a CSV file with a header
df1.write.format("csv").option("header", "true").save("dfIEA_Global_EV_Data2023.csv")
# Count the number of rows in the DataFrame
row_count = df1.count()
print("Number of rows: ", row_count)

# Show the DataFrame
df1.show()

Number of rows:  9542
+---------+----------+--------------+----+----------+----+--------+-----------+
|   region|  category|     parameter|mode|powertrain|year|    unit|      value|
+---------+----------+--------------+----+----------+----+--------+-----------+
|Australia|Historical|      EV stock|Cars|       BEV|2011|Vehicles|         49|
|Australia|Historical|EV sales share|Cars|        EV|2011| percent|     0.0065|
|Australia|Historical|EV stock share|Cars|        EV|2011| percent|    0.00046|
|Australia|Historical|      EV sales|Cars|       BEV|2011|Vehicles|         49|
|Australia|Historical|      EV sales|Cars|       BEV|2012|Vehicles|        170|
|Australia|Historical|EV stock share|Cars|        EV|2012| percent|     0.0028|
|Australia|Historical|EV sales share|Cars|        EV|2012| percent|0.029999999|
|Australia|Historical|      EV stock|Cars|       BEV|2012|Vehicles|        220|
|Australia|Historical|      EV stock|Cars|      PHEV|2012|Vehicles|         80|
|Australia|Historical|      EV sales|Cars|      PHEV|2012|Vehicles|         80|
|Australia|Historical|      EV sales|Cars|      PHEV|2013|Vehicles|        100|
|Australia|Historical|      EV stock|Cars|      PHEV|2013|Vehicles|        180|
|Australia|Historical|      EV stock|Cars|       BEV|2013|Vehicles|        410|
|Australia|Historical|EV sales share|Cars|        EV|2013| percent|0.034000002|
|Australia|Historical|EV stock share|Cars|        EV|2013| percent|     0.0054|
|Australia|Historical|      EV sales|Cars|       BEV|2013|Vehicles|        190|
|Australia|Historical|      EV sales|Cars|       BEV|2014|Vehicles|        370|
|Australia|Historical|EV stock share|Cars|        EV|2014| percent|0.017000001|
|Australia|Historical|EV sales share|Cars|        EV|2014| percent|0.159999996|
|Australia|Historical|      EV stock|Cars|       BEV|2014|Vehicles|        780|
+---------+----------+--------------+----+----------+----+--------+-----------+
only showing top 20 rows

In [49]:
df1.groupBy("parameter").count().show()

+--------------------+-----+
|           parameter|count|
+--------------------+-----+
|      EV stock share| 1478|
|  Electricity demand|  435|
|  EV charging points|  664|
|Oil displacement,...|  466|
|            EV sales| 2236|
|      EV sales share| 1409|
|Oil displacement Mbd|  466|
|            EV stock| 2388|
+--------------------+-----+

In [50]:
df1.groupBy("powertrain").count().show()

+--------------------+-----+
|          powertrain|count|
+--------------------+-----+
|                PHEV| 1733|
|                  EV| 4254|
|                 BEV| 2891|
|Publicly availabl...|  334|
|Publicly availabl...|  330|
+--------------------+-----+

In [51]:
df1.groupBy("mode").count().show()

+------+-----+
|  mode|count|
+------+-----+
|    EV|  664|
| Buses| 1964|
|  Cars| 3316|
|Trucks| 1449|
|  Vans| 2149|
+------+-----+

In [52]:
df1.groupBy("region").count().show()

+-----------------+-----+
|           region|count|
+-----------------+-----+
|            World|  822|
|           Sweden|  220|
|Rest of the world|  663|
|           Europe|  811|
|          Germany|  219|
|           France|  270|
|           Greece|  118|
|          Belgium|  255|
|          Finland|  172|
|            China|  828|
|            India|  471|
|            Chile|   90|
|            Italy|  208|
|           Norway|  217|
|            Spain|  205|
|          Denmark|  262|
|         Thailand|   12|
|          Iceland|  197|
|           Israel|  138|
|              USA|  344|
+-----------------+-----+
only showing top 20 rows

In [55]:
# Filter the DataFrame for the specified regions and display the counts
df1.filter((df1["region"] == "Australia") |
           (df1["region"] == "Austria") |
           (df1["region"] == "Canada") |
           (df1["region"] == "Belgium") |
           (df1["region"] == "India") |
           (df1["region"] == "Germany") |
           (df1["region"] == "Japan") |
           (df1["region"] == "New Zealand") |
           (df1["region"] == "South Africa") |
           (df1["region"] == "United Kingdom")).groupBy("region").count().show()

+--------------+-----+
|        region|count|
+--------------+-----+
|       Germany|  219|
|       Belgium|  255|
|         India|  471|
|        Canada|  196|
|         Japan|  208|
|   New Zealand|  170|
|     Australia|   82|
|       Austria|  231|
|  South Africa|   70|
|United Kingdom|  283|
+--------------+-----+

In [46]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
        .appName("csv-analysis") \
        .getOrCreate()

# Read the CSV file into a DataFrame
df2 = spark.read.csv("Environment_Temperature_change_E_All_Data_NOFLAG.csv", header=True)

# Save the DataFrame to a CSV file with a header
df2.write.format("csv").option("header", "true").save("df2Environment_Temperature_change_E_All_Data_NOFLAG.csv")
# Count the number of rows in the DataFrame
row_count = df2.count()
print("Number of rows: ", row_count)

# Show the DataFrame
df2.show()

Number of rows:  9656
+---------+-----------+-----------+---------+------------+------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------+--------+---------+---------+---------+---------+--------+---------+---------+---------+
|Area Code|       Area|Months Code|   Months|Element Code|           Element|Unit|    Y1961|    Y1962|    Y1963|    Y1964|    Y1965|    Y1966|    Y1967|    Y1968|    Y1969|    Y1970|    Y1971|    Y1972|    Y1973|    Y1974|    Y1975|    Y1976|    Y1977|    Y1978|    Y1979|    Y1980|    Y1981|    Y1982|    Y1983|    Y1984|    Y1985|    Y1986|    Y1987|    Y1988|    Y1989|    Y1990|    Y1991|    Y1992|    Y1993|    Y1994|    Y1995|    Y1996|    Y1997|    Y1998|    Y1999|    Y2000|    Y2001|    Y2002|    Y2003|    Y2004|    Y2005|    Y2006|    Y2007|    Y2008|    Y2009|   Y2010|   Y2011|    Y2012|    Y2013|    Y2014|    Y2015|   Y2016|    Y2017|    Y2018|    Y2019|
+---------+-----------+-----------+---------+------------+------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------+--------+---------+---------+---------+---------+--------+---------+---------+---------+
|        2|Afghanistan|       7001|  January|        7271|Temperature change|  �C| 0.777000| 0.062000| 2.744000|-5.232000| 1.868000| 3.629000|-1.432000| 0.389000|-2.298000| 0.804000|-1.487000|-1.305000|-2.951000|-1.184000|-0.490000| 2.409000|-3.014000|-0.663000| 1.141000|-0.393000| 1.724000| 0.678000| 0.524000|-0.058000| 0.435000| 0.332000| 2.655000| 1.150000|-1.108000| 0.634000| 0.018000| 0.582000|-0.821000| 1.087000| 1.297000|-0.718000| 1.426000| 0.950000| 0.859000| 1.565000|-0.603000| 1.606000| 2.479000| 2.707000| 0.109000|-1.606000| 0.431000|-5.553000| 1.518000|3.601000|1.179000|-0.583000| 1.233000| 1.755000| 1.943000|3.416000| 1.201000| 1.996000| 2.951000|
|        2|Afghanistan|       7001|  January|        6078|Standard Deviation|  �C| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000| 1.950000|1.950000|1.950000| 1.950000| 1.950000| 1.950000| 1.950000|1.950000| 1.950000| 1.950000| 1.950000|
|        2|Afghanistan|       7002| February|        7271|Temperature change|  �C|-1.743000| 2.465000| 3.919000|-0.202000|-0.096000| 3.397000| 0.296000|-2.055000|-3.167000| 1.809000| 0.816000|-7.722000| 1.838000|-3.706000|-1.239000|-1.620000|-0.156000|-0.369000| 1.072000|-1.222000| 1.088000|-2.101000| 0.460000|-4.321000| 2.467000|-0.286000| 1.409000| 0.170000|-2.890000|-0.310000|-1.373000|-0.120000| 1.414000|-1.412000|-0.149000| 0.870000| 0.043000|-0.540000| 3.222000|-0.901000| 0.707000| 0.985000| 1.816000| 2.871000|-1.506000| 4.725000| 1.645000|-2.332000| 2.494000|1.212000|0.321000|-3.201000| 1.494000|-3.187000| 2.699000|2.251000|-0.323000| 2.705000| 0.086000|
|        2|Afghanistan|       7002| February|        6078|Standard Deviation|  �C| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000| 2.597000|2.597000|2.597000| 2.597000| 2.597000| 2.597000| 2.597000|2.597000| 2.597000| 2.597000| 2.597000|
|        2|Afghanistan|       7003|    March|        7271|Temperature change|  �C| 0.516000| 1.336000| 0.403000| 1.659000|-0.909000|-0.069000|-0.759000| 0.496000| 2.481000|-0.915000| 1.658000|-1.784000|-0.473000| 1.001000|-0.585000|-2.817000| 3.377000|-1.536000|-1.420000|-0.628000| 1.166000|-1.781000|-2.406000| 1.761000|-0.160000|-3.087000| 1.330000|-0.056000| 0.065000|-1.000000|-0.901000|-2.220000|-1.449000| 1.312000|-1.451000|-0.336000|-0.005000|-0.576000|-0.217000|-0.267000| 1.229000| 1.949000|-0.158000| 2.753000| 1.663000| 1.847000|-0.201000| 4.172000| 2.362000|3.390000|0.748000|-0.527000| 2.246000|-0.076000|-0.497000|2.296000| 0.834000| 4.418000| 0.234000|
|        2|Afghanistan|       7003|    March|        6078|Standard Deviation|  �C| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000| 1.512000|1.512000|1.512000| 1.512000| 1.512000| 1.512000| 1.512000|1.512000| 1.512000| 1.512000| 1.512000|
|        2|Afghanistan|       7004|    April|        7271|Temperature change|  �C|-1.709000| 0.117000| 0.919000|-0.533000|-1.816000|-1.192000|-1.496000|-0.590000|-0.770000| 1.439000| 1.534000|-0.602000| 1.106000| 1.051000|-0.710000|-0.690000| 1.070000| 1.484000| 1.714000| 2.750000| 0.990000| 0.461000|-1.410000| 0.613000| 0.810000|-0.249000|-0.342000| 1.316000|-1.204000|-0.292000|-0.364000|-1.210000| 0.438000|-1.334000|-0.578000|-0.214000|-0.420000| 1.486000| 0.215000| 3.504000| 2.774000| 0.958000| 0.562000| 1.086000|-0.060000| 1.217000| 3.027000| 1.359000|-1.459000|2.591000|1.712000| 1.417000|-0.052000| 0.585000| 1.589000|0.980000| 1.252000| 1.442000| 0.899000|
|        2|Afghanistan|       7004|    April|        6078|Standard Deviation|  �C| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000| 1.406000|1.406000|1.406000| 1.406000| 1.406000| 1.406000| 1.406000|1.406000| 1.406000| 1.406000| 1.406000|
|        2|Afghanistan|       7005|      May|        7271|Temperature change|  �C| 1.412000|-0.092000|-0.690000|-0.160000|-0.190000|-0.192000|-1.307000|-1.841000|-0.977000| 1.864000| 2.045000|-1.051000| 0.724000| 0.185000| 0.470000| 0.634000| 0.532000| 1.085000|-2.530000| 1.842000| 1.141000| 0.062000| 1.078000| 1.240000| 0.181000| 0.819000|-0.254000| 1.569000|-1.156000| 1.776000|-0.819000|-2.361000| 0.609000| 1.002000| 0.153000|-0.723000|-0.835000| 0.429000| 0.986000| 4.050000| 4.103000| 1.300000|-0.857000| 1.585000|-0.981000| 4.064000| 1.428000| 3.032000| 1.623000|1.419000|3.643000| 0.909000| 1.201000| 0.959000| 1.862000|3.246000| 3.280000| 0.855000| 0.647000|
|        2|Afghanistan|       7005|      May|        6078|Standard Deviation|  �C| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000| 1.230000|1.230000|1.230000| 1.230000| 1.230000| 1.230000| 1.230000|1.230000| 1.230000| 1.230000| 1.230000|
|        2|Afghanistan|       7006|     June|        7271|Temperature change|  �C|-0.058000|-1.061000| 1.164000|-0.519000|-0.422000| 1.274000|-0.722000| 0.292000|-0.270000| 0.544000| 1.622000|-0.419000| 2.057000|-0.340000|-0.044000|-0.627000| 1.367000| 0.774000| 0.031000| 0.584000|-0.513000|-0.129000| 0.315000| 1.077000| 1.108000| 0.579000|-0.837000| 0.867000| 0.116000| 1.210000| 0.059000| 0.326000| 0.282000| 1.115000| 0.645000| 0.338000| 0.395000|-0.430000| 0.878000| 0.285000| 1.738000| 1.149000| 0.530000| 0.909000| 0.762000| 0.598000| 1.022000| 2.773000|-1.233000|0.594000|2.450000| 0.305000| 1.924000| 1.492000| 1.289000|1.586000| 2.002000| 1.786000|-0.289000|
|        2|Afghanistan|       7006|     June|        6078|Standard Deviation|  �C| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000| 0.930000|0.930000|0.930000| 0.930000| 0.930000| 0.930000| 0.930000|0.930000| 0.930000| 0.930000| 0.930000|
|        2|Afghanistan|       7007|     July|        7271|Temperature change|  �C| 0.884000| 0.292000| 0.348000|-0.142000| 0.116000|-0.267000| 0.332000|-0.256000|-0.024000|-0.534000| 0.074000|-1.652000| 0.442000| 0.382000|-0.038000| 0.637000| 0.698000|-0.271000| 0.538000| 0.432000| 0.070000|-0.598000| 0.582000| 0.516000| 1.191000|-0.211000|-0.551000| 1.005000|-0.205000| 0.228000| 0.323000|-0.304000|-0.245000| 0.570000| 1.093000| 0.137000| 1.488000| 0.881000| 0.303000|-0.062000| 0.570000|-0.026000| 1.233000| 0.152000| 0.758000| 0.944000| 0.167000| 1.037000| 0.132000|0.494000|0.532000| 0.973000| 1.126000| 0.671000| 1.092000|1.079000| 0.901000| 1.815000| 1.885000|
|        2|Afghanistan|       7007|     July|        6078|Standard Deviation|  �C| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000| 0.585000|0.585000|0.585000| 0.585000| 0.585000| 0.585000| 0.585000|0.585000| 0.585000| 0.585000| 0.585000|
|        2|Afghanistan|       7008|   August|        7271|Temperature change|  �C| 0.391000|-0.220000| 0.094000| 0.671000|-0.686000| 0.049000| 0.055000|-0.155000|-0.442000| 1.867000| 0.238000|-2.132000| 0.741000|-0.648000| 0.358000| 0.214000| 0.198000|-0.235000|-0.776000| 0.126000|-0.269000|-0.200000| 1.396000| 1.594000|-0.241000|-0.524000| 1.256000| 0.080000|-0.280000| 1.281000| 0.302000|-0.756000|-0.259000| 1.698000| 1.230000|-0.011000| 0.334000| 1.349000| 1.179000| 0.729000| 0.800000| 1.374000| 0.792000| 0.608000| 0.206000| 1.049000| 0.393000| 0.703000| 1.469000|0.587000|1.930000| 1.356000| 0.886000| 0.706000| 0.589000|0.311000| 0.102000| 0.982000| 0.773000|
|        2|Afghanistan|       7008|   August|        6078|Standard Deviation|  �C| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000| 0.773000|0.773000|0.773000| 0.773000| 0.773000| 0.773000| 0.773000|0.773000| 0.773000| 0.773000| 0.773000|
|        2|Afghanistan|       7009|September|        7271|Temperature change|  �C| 1.445000|-1.797000| 0.163000|-0.253000|-0.661000|-0.403000| 0.583000|-0.269000|-0.847000| 0.005000|-0.844000|-0.691000| 0.005000|-0.244000| 0.450000| 0.658000|-0.164000| 0.575000| 0.174000|-0.024000|-0.268000|-1.281000| 1.222000|-0.947000| 0.195000| 0.172000| 1.035000| 0.604000| 0.239000| 1.453000| 0.640000|-0.838000| 1.102000|-2.062000| 0.254000| 1.605000| 1.107000| 1.138000| 1.358000| 1.315000| 0.558000| 0.371000| 0.748000| 1.103000| 1.995000| 0.397000| 0.648000| 1.214000| 1.273000|0.030000|1.408000| 0.495000| 2.586000| 2.268000| 0.172000|3.016000| 0.930000| 1.063000| 2.004000|
|        2|Afghanistan|       7009|September|        6078|Standard Deviation|  �C| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000| 0.832000|0.832000|0.832000| 0.832000| 0.832000| 0.832000| 0.832000|0.832000| 0.832000| 0.832000| 0.832000|
|        2|Afghanistan|       7010|  October|        7271|Temperature change|  �C|-1.102000|-0.968000| 1.654000|-2.839000| 2.211000|-0.428000|-0.800000|-0.611000| 1.103000| 0.542000|-0.198000|-0.256000| 0.275000|-1.939000|-0.515000| 0.551000| 1.392000| 0.622000| 2.289000| 0.731000|-1.372000| 0.371000|-0.103000|-1.168000|-0.469000| 1.132000|-1.622000|-0.185000| 0.991000| 0.438000|-0.173000|-0.426000|-1.337000|-0.600000| 0.235000|-0.074000| 1.090000| 1.295000| 1.550000| 0.870000| 0.996000| 2.421000| 1.516000|-0.786000| 1.108000| 3.895000|-1.661000| 1.838000| 0.138000|2.927000|1.339000| 0.827000| 1.691000| 1.134000| 1.894000|0.792000| 2.092000|-0.103000| 1.264000|
|        2|Afghanistan|       7010|  October|        6078|Standard Deviation|  �C| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000| 1.310000|1.310000|1.310000| 1.310000| 1.310000| 1.310000| 1.310000|1.310000| 1.310000| 1.310000| 1.310000|
+---------+-----------+-----------+---------+------------+------------------+----+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------+--------+---------+---------+---------+---------+--------+---------+---------+---------+
only showing top 20 rows

In [63]:
# Filter the DataFrame for the specified regions and display the counts
df2.filter((df2["Area"] == "Australia") |
           (df2["Area"] == "Austria") |
           (df2["Area"] == "Canada") |
           (df2["Area"] == "Belgium") |
           (df2["Area"] == "India") |
           (df2["Area"] == "Germany") |
           (df2["Area"] == "Japan") |
           (df2["Area"] == "New Zealand") |
           (df2["Area"] == "South Africa") |
           (df2["Area"] == "United Kingdom")).groupBy("Area").count().show()

+--------------+-----+
|          Area|count|
+--------------+-----+
|       Germany|   34|
|       Belgium|   34|
|         India|   34|
|        Canada|   34|
|         Japan|   34|
|   New Zealand|   34|
|     Australia|   34|
|       Austria|   34|
|  South Africa|   34|
|United Kingdom|   34|
+--------------+-----+

In [56]:
df2.groupBy("Element").count().show()

+------------------+-----+
|           Element|count|
+------------------+-----+
|Standard Deviation| 4828|
|Temperature change| 4828|
+------------------+-----+

In [47]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
        .appName("csv-analysis") \
        .getOrCreate()

# Read the CSV file into a DataFrame
df3 = spark.read.csv("forest-area-km.csv", header=True)

# Save the DataFrame to a CSV file with a header
df3.write.format("csv").option("header", "true").save("df3outputforest-area-km.csv")
# Count the number of rows in the DataFrame
row_count = df3.count()
print("Number of rows: ", row_count)

# Show the DataFrame
df3.show()

Number of rows:  7846
+-----------+----+----+-----------+
|     Entity|Code|Year|Forest area|
+-----------+----+----+-----------+
|Afghanistan| AFG|1990|    1208440|
|Afghanistan| AFG|1991|    1208440|
|Afghanistan| AFG|1992|    1208440|
|Afghanistan| AFG|1993|    1208440|
|Afghanistan| AFG|1994|    1208440|
|Afghanistan| AFG|1995|    1208440|
|Afghanistan| AFG|1996|    1208440|
|Afghanistan| AFG|1997|    1208440|
|Afghanistan| AFG|1998|    1208440|
|Afghanistan| AFG|1999|    1208440|
|Afghanistan| AFG|2000|    1208440|
|Afghanistan| AFG|2001|    1208440|
|Afghanistan| AFG|2002|    1208440|
|Afghanistan| AFG|2003|    1208440|
|Afghanistan| AFG|2004|    1208440|
|Afghanistan| AFG|2005|    1208440|
|Afghanistan| AFG|2006|    1208440|
|Afghanistan| AFG|2007|    1208440|
|Afghanistan| AFG|2008|    1208440|
|Afghanistan| AFG|2009|    1208440|
+-----------+----+----+-----------+
only showing top 20 rows

In [62]:
df3.describe()

DataFrame[summary: string, Entity: string, Code: string, Year: string, Forest area: string]

In [48]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
        .appName("csv-analysis") \
        .getOrCreate()

# Read the CSV file into a DataFrame
df4 = spark.read.csv("globalCO2emissions.csv", header=True)

# Save the DataFrame to a CSV file with a header
df4.write.format("csv").option("header", "true").save("df4globalCO2emissions.csv")
# Count the number of rows in the DataFrame
row_count = df4.count()
print("Number of rows: ", row_count)

# Show the DataFrame
df4.show()

Number of rows:  8910
+--------+---------+----+----+-------------+--------------------+--------------------+--------+-------------+--------------------+--------------------+-----+------+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|ObjectId|  Country|ISO2|ISO3|    Indicator|                Unit|              Source|CTS_Code|     CTS_Name| CTS_Full_Descriptor|            Industry|Scale| F1995|F1996| F1997| F1998| F1999| F2000| F2001| F2002| F2003| F2004| F2005| F2006| F2007| F2008| F2009| F2010| F2011| F2012| F2013| F2014| F2015| F2016| F2017| F2018|
+--------+---------+----+----+-------------+--------------------+--------------------+--------+-------------+--------------------+--------------------+-----+------+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|       1|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Accomodation and ...|Units| 0.159|0.158| 0.163|  0.17| 0.175| 0.183| 0.175| 0.195| 0.209| 0.228|  0.26| 0.275| 0.314| 0.305| 0.284| 0.319| 0.338| 0.377| 0.378| 0.369| 0.371| 0.303| 0.358| 0.344|
|       2|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Activities of hou...|Units|     0|    0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|
|       3|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Administrative an...|Units| 0.326|0.351| 0.363|  0.36| 0.336| 0.338| 0.308| 0.365| 0.412| 0.692| 0.594| 0.626| 0.722|  0.72| 0.725| 0.738| 0.765| 0.777|  0.84| 0.794| 0.852| 0.789| 0.846| 0.857|
|       4|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Agriculture, hunt...|Units| 8.914| 9.58| 9.625|  9.18| 9.124|  9.02|  8.46| 9.348| 10.65|12.801|12.859|13.807|14.971|14.737|13.804| 14.11|14.616| 14.12|15.358|13.728|14.273|13.838|14.121|13.067|
|       5|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|       Air transport|Units| 1.957|2.518| 2.523| 2.664| 2.602| 2.499| 2.394| 2.249| 2.391| 2.558| 2.578| 2.432| 2.558| 2.741| 2.648| 2.989| 3.094| 3.129| 3.327| 3.323| 3.345| 3.435| 3.564| 3.584|
|       6|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Arts, entertainme...|Units| 0.073|0.077| 0.081| 0.074|  0.07| 0.069| 0.063| 0.067|  0.07| 0.075| 0.076| 0.079| 0.083| 0.081| 0.082| 0.086| 0.086|  0.09| 0.093| 0.088| 0.088| 0.075| 0.081| 0.078|
|       7|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|        Basic metals|Units| 4.043|4.908| 5.167| 5.697| 5.573| 5.906| 5.094| 5.302| 5.794| 6.479| 6.882| 7.234| 6.889| 7.026| 5.322| 6.776| 7.318| 6.401| 7.169| 7.546| 7.068| 6.004| 6.484| 7.195|
|       8|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Chemicals and pha...|Units| 1.161|1.192| 1.134| 1.304| 1.299| 1.315| 1.734| 1.325| 1.292| 1.127| 1.214| 1.318| 1.123| 1.185| 1.208| 1.154| 1.215| 1.245| 1.207| 1.127| 1.144| 1.134| 1.241| 1.126|
|       9|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Coke and refined ...|Units| 4.338|3.509| 4.642| 4.505| 4.146| 4.144| 4.641| 4.603| 4.957| 4.369| 3.773| 3.573| 3.879| 4.122| 4.713| 4.668| 4.573| 5.087| 5.032| 4.814| 4.983| 5.218| 5.422| 5.427|
|      10|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Computer, electro...|Units|  0.01|0.011| 0.011| 0.011| 0.009| 0.008| 0.006| 0.006| 0.005| 0.004| 0.004| 0.004| 0.004| 0.004| 0.004| 0.007|  0.01| 0.012| 0.012|  0.01| 0.024| 0.021|  0.02| 0.017|
|      11|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|        Construction|Units| 0.268|0.306| 0.445|  0.35| 0.313| 0.335| 0.281| 0.347| 0.407| 0.531| 0.463|  0.48| 0.528| 0.542| 0.454| 0.504| 0.505| 0.474| 0.481| 0.454| 0.478| 0.422|  0.43|  0.41|
|      12|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|           Education|Units| 0.205|0.203| 0.209| 0.222| 0.233| 0.243| 0.233| 0.227| 0.247| 0.312| 0.325| 0.347| 0.391| 0.396| 0.426| 0.441| 0.467| 0.496| 0.507| 0.494| 0.519| 0.429| 0.464| 0.435|
|      13|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Electrical equipment|Units| 0.006|0.007| 0.009| 0.008| 0.007| 0.009| 0.008| 0.011| 0.012| 0.015| 0.014| 0.015| 0.017| 0.015| 0.015| 0.013| 0.013| 0.012| 0.013| 0.012| 0.018| 0.016| 0.015| 0.016|
|      14|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Electricity, gas,...|Units|18.652|21.82|20.189|22.337|27.149|25.805|23.082|20.311|24.016|30.408|32.965|35.277|35.362|38.882|36.196|38.738|44.115|46.796|44.484|46.272|48.637|49.863|46.087|42.326|
|      15|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Fabricated metal ...|Units| 0.013|0.015| 0.027| 0.019|  0.02| 0.027| 0.026| 0.045| 0.052| 0.076| 0.064| 0.071| 0.078| 0.081| 0.082| 0.087| 0.087| 0.087| 0.083| 0.069| 0.094| 0.089| 0.083| 0.086|
|      16|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Financial and ins...|Units| 0.234|0.234| 0.242| 0.258| 0.264| 0.275| 0.264| 0.307| 0.334|   0.4| 0.392| 0.394| 0.438| 0.424| 0.411| 0.422| 0.426| 0.472| 0.485| 0.476| 0.455| 0.413| 0.459| 0.479|
|      17|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Fishing and aquac...|Units| 0.103|0.122| 0.132| 0.129| 0.111| 0.108|   0.1| 0.158| 0.168| 0.218| 0.179| 0.238|   0.2| 0.213| 0.185| 0.169|  0.13| 0.124| 0.181|  0.17|  0.18| 0.206| 0.195| 0.292|
|      18|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Food products, be...|Units| 2.123|2.251| 2.285| 2.607| 2.732| 2.819| 2.793| 2.872| 2.929| 3.038| 3.236| 3.758| 3.392| 3.464| 3.884| 3.655| 3.889| 3.728| 3.697| 3.898| 4.297| 4.317| 4.438| 4.276|
|      19|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|Human health and ...|Units| 0.436|0.462| 0.467| 0.466| 0.412| 0.385| 0.323| 0.313| 0.302| 0.306| 0.317| 0.319| 0.359| 0.363| 0.418| 0.438| 0.462| 0.506| 0.529|  0.52| 0.526|  0.45|  0.51| 0.505|
|      20|Argentina|  AR| ARG|CO2 emissions|Millions of Metri...|OECD (2021), OECD...|    ECNC|CO2 Emissions|Environment, Clim...|IT and other info...|Units| 0.016|0.016| 0.016| 0.026| 0.026| 0.027| 0.025| 0.028|  0.03| 0.034| 0.038| 0.041|  0.05| 0.049| 0.052| 0.053|  0.05| 0.052| 0.048| 0.046| 0.045| 0.038| 0.044| 0.042|
+--------+---------+----+----+-------------+--------------------+--------------------+--------+-------------+--------------------+--------------------+-----+------+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
only showing top 20 rows

In [60]:
df4.groupBy("Industry").count().show()

+--------------------+-----+
|            Industry|count|
+--------------------+-----+
|Human health and ...|  198|
|           Education|  198|
|Water supply; sew...|  198|
|Manufacturing nec...|  198|
|Mining and quarry...|  198|
|Postal and courie...|  198|
|Food products, be...|  198|
|Electricity, gas,...|  198|
|        Basic metals|  198|
|IT and other info...|  198|
|Motor vehicles, t...|  198|
|Textiles, textile...|  198|
|Fishing and aquac...|  198|
|Computer, electro...|  198|
|Paper products an...|  198|
|Other non-metalli...|  198|
|Machinery and equ...|  198|
|       Air transport|  198|
|Electrical equipment|  198|
|Coke and refined ...|  198|
+--------------------+-----+
only showing top 20 rows

In [61]:
df4.describe()

DataFrame[summary: string, ObjectId: string, Country: string, ISO2: string, ISO3: string, Indicator: string, Unit: string, Source: string, CTS_Code: string, CTS_Name: string, CTS_Full_Descriptor: string, Industry: string, Scale: string, F1995: string, F1996: string, F1997: string, F1998: string, F1999: string, F2000: string, F2001: string, F2002: string, F2003: string, F2004: string, F2005: string, F2006: string, F2007: string, F2008: string, F2009: string, F2010: string, F2011: string, F2012: string, F2013: string, F2014: string, F2015: string, F2016: string, F2017: string, F2018: string]